@{
    ViewBag.Title = "DashBoard";
}

<div class="text-center">
    <div class="row">
        <div class="col-lg-12" style="padding-top: 30px;">
            <img src="..\Content\images\logo.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 style="font-family:'Monotype Corsiva';">An Education Empowered By Industry..</h3>
            <h1 style="color:blue;font-family:Georgia;">FABTECH TECHNICAL CAMPUS</h1>
            <p style="font-size:18px; font-family:'Sitka Text';">Approved by AICTE,New Delhi,<br>D.T.E(M.S),Mumbai, Affliated to MSBTE,Mumbai for polytechnic & D.Pharmacy.<br>Affliated to Dr. Babasaheb Ambedkar Technological University,Lonare for Engg. & B.Pharmacy.</p>
        </div>
    </div>   
</div>
